<div class="row">
    <div class="col-md-3">
        <div class="card mx-auto mt-3" style="width: 18rem;">
            <img src="https://i.imgur.com/vythOzi.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Shaun Teeshad</h5>
              <p class="card-text">I enjoy reading books about Psychology and Personal Development.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
  <div class="col-md-9">
    <div *ngFor="let book of myBooks" class="card card-books mb-3 mr-3 ml-3 mt-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="{{book.url}}" class="card-img" style="max-width: 240px;" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{book.Title}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  </div>


</div>



